.comment {
  display: flex;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-image-container {
  margin-right: 15px;
}

.img-icon {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%;
}

.comment-right-part {
  flex: 1;
}

.comment-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-author {
  font-weight: bold;
  font-size: 14px; /* Adjust the size as needed */
}

.comment-time {
  color: #888;
  font-size: 12px; /* Adjust the size as needed */
}

.comment-text {
  margin-bottom: 10px;
  font-size: 14px; /* Adjust the size as needed */
}

.comment-actions {
  display: flex;
}

.comment-action {
  margin-right: 10px;
  cursor: pointer;
  color: #0079d3; /* Reddit's primary blue color */
  font-size: 14px; /* Adjust the size as needed */
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 15px;
  padding-left: 30px;
  border-left: 1px solid #ddd;

}

/* Align main comment text to the left */
.comment-text {
  text-align: left;
}

.comment-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5%;
}
.comments-container {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order of top-level comments */
}