/* Landing.css */

.landing-container {
  text-align: center;
  color: black;
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  font-family:Arial, Helvetica, sans-serif;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

/* Add any additional styles as needed */
